*.log
*.o
*.txt
*.bak
*.csv
server.out
main_indexer
main_searcher
main_searcher_unlogged
server
client
serverSingleThread
serverMultiThread
phrase_query_file*
phrase_query_file_short
term_query_file*
term_query_file_short
file_list_big
file_list
index_original_compressed/
test*
Search_WorkLoad_C_
Gmon_*
Perf_C_*
VMSTAT_*
dprof-linux/
taskset
gmon*
perf*
